In [1]:
# ignore warnings
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
#imports
from pathlib import Path
import datetime as dt
import hvplot.pandas
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import geoviews as gv
import geoviews.feature as gf
from geoviews import dim, opts
import altair as alt
from vega_datasets import data
import scipy
from scipy import stats

# Inflation Datasets

### Lat/Lon CSV Cleaning

In [3]:
# name csv path
world_geo_path = Path("world_geo_data.csv")

# create dataframe from csv
world_geo_df =pd.read_csv(world_geo_path)

world_geo_df.head()

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California

In [4]:
# rename columns for clarity and consistency
world_geo_df.rename(columns={"country_code": "alpha-2"}, inplace=True)

# drop unnecessary columns
world_geo_df.drop(labels=["usa_state_code",
    "usa_state_latitude",
    "usa_state_longitude",
    "usa_state"
    ], axis=1, inplace=True)

world_geo_df.head()

  alpha-2   latitude  longitude               country
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [5]:
# check for nulls
nulls = world_geo_df.isnull().any(axis=1)
null_rows = world_geo_df[nulls]
display(null_rows)

    alpha-2  latitude  longitude                      country
156     NaN -22.95764   18.49041                      Namibia
226      UM       NaN        NaN  U.S. Minor Outlying Islands

In [6]:
# fix alpha-2 for Namibia
world_geo_df.at[156, "alpha-2"] = "NA"

# check
print(world_geo_df.at[156, "alpha-2"])

# delete row for US Minor Outlying Islands because their geography is not bound by lon/lat
world_geo_df.drop(226, inplace=True)

# check
nulls = world_geo_df.isnull().any(axis=1)
null_rows = world_geo_df[nulls]
display(null_rows)

NA

Empty DataFrame
Columns: [alpha-2, latitude, longitude, country]
Index: []

In [7]:
# check data types
world_geo_df.dtypes

alpha-2       object
latitude     float64
longitude    float64
country       object
dtype: object

### World Inflation CSV Cleaning

In [8]:
# name csv path
world_inflation_path = Path("world_inflation_data.csv")

# create dataframe from csv, skipping blank rows and naming the header
world_inflation_df =pd.read_csv(world_inflation_path, header=2, skiprows=[0, 1])

world_inflation_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.750981,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.773751
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.439201,1.768436,2.130817,1.487416,1.764635,1.784050,1.760112,2.437609,3.653533,7.967574
4,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN

In [9]:
# drop unnecessary columns
world_inflation_df.drop(columns=["Indicator Name", "Indicator Code"], inplace=True)

# rename country_code column for clarity and consistency
world_inflation_df.rename(columns={"Country Code": "alpha-3", "Country Name":"country"}, inplace=True)

world_inflation_df.head()

,country,alpha-3,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.750981,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.773751
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.439201,1.768436,2.130817,1.487416,1.764635,1.784050,1.760112,2.437609,3.653533,7.967574
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN

In [10]:
# check data types
world_inflation_df.dtypes

country     object
alpha-3     object
1960       float64
1961       float64
1962       float64
            ...
2018       float64
2019       float64
2020       float64
2021       float64
2022       float64
Length: 65, dtype: object

### ISO2/ISO3 CSV Cleaning

In [11]:
# path
country_info_path = Path("country_info.csv")

# create dataframe from csv
country_info_df = pd.read_csv(country_info_path)

country_info_df.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [12]:
# keep necessary columns
country_info_df = country_info_df[["name", "alpha-2", "alpha-3"]]

# change column names for consistency and clarity
country_info_df.rename(columns={"name":"country"}, inplace=True)

country_info_df.head()

          country alpha-2 alpha-3
0     Afghanistan      AF     AFG
1   Åland Islands      AX     ALA
2         Albania      AL     ALB
3         Algeria      DZ     DZA
4  American Samoa      AS     ASM

In [13]:
# check for nulls
nulls = country_info_df.isnull().any(axis=1)
null_rows = country_info_df[nulls]
display(null_rows)

     country alpha-2 alpha-3
153  Namibia     NaN     NAM

In [14]:
# fix issue with Namibia alpha-2 (NaN)
country_info_df.at[153, "alpha-2"] = "NA"
# check
print(country_info_df.at[153, "alpha-2"])

NA

In [15]:
# check datatypes
country_info_df.dtypes

country    object
alpha-2    object
alpha-3    object
dtype: object

### Combining 3 Dataframes

In [16]:
# view dataframes together
display(country_info_df.head())
display(world_inflation_df.head())
display(world_geo_df.head())

          country alpha-2 alpha-3
0     Afghanistan      AF     AFG
1   Åland Islands      AX     ALA
2         Albania      AL     ALB
3         Algeria      DZ     DZA
4  American Samoa      AS     ASM

,country,alpha-3,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.750981,5.370290,5.245878,6.571396,6.399343,4.720811,4.653665,7.321106,6.824727,10.773751
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.439201,1.768436,2.130817,1.487416,1.764635,1.784050,1.760112,2.437609,3.653533,7.967574
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN

  alpha-2   latitude  longitude               country
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla

In [17]:
# merge dataframes (merge instead of join because of dissimilar indexes)
combined_df = country_info_df.merge(world_geo_df, how="inner", on="alpha-2")
combined_df = combined_df.merge(world_inflation_df, how="inner", on="alpha-3")
combined_df

,country_x,alpha-2,alpha-3,latitude,longitude,country_y,country,1960,1961,1962,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AF,AFG,33.939110,67.709953,Afghanistan,Afghanistan,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
1,Albania,AL,ALB,41.153332,20.168331,Albania,Albania,NaN,NaN,NaN,...,1.937621,1.625865,1.896174,1.275432,1.986661,2.028060,1.411091,1.620887,2.041472,6.725203
2,Algeria,DZ,DZA,28.033886,1.659626,Algeria,Algeria,NaN,NaN,NaN,...,3.254239,2.916927,4.784447,6.397695,5.591116,4.269990,1.951768,2.415131,7.226063,9.265516
3,American Samoa,AS,ASM,-14.270972,-170.132217,American Samoa,American Samoa,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AD,AND,42.546245,1.601554,Andorra,Andorra,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Virgin Islands (British),VG,VGB,18.420695,-64.639968,British Virgin Islands,British Virgin Islands,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Virgin Islands (U.S.),VI,VIR,18.335765,-64.896335,U.S. Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,Yemen,YE,YEM,15.552727,48.516388,Yemen,"Yemen, Rep.",NaN,NaN,NaN,...,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Zambia,ZM,ZMB,-13.133897,27.849332,Zambia,Zambia,NaN,NaN,NaN,...,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204
210,Zimbabwe,ZW,ZWE,-19.015438,29.154857,Zimbabwe,Zimbabwe,NaN,NaN,NaN,...,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171

In [18]:
# drop duplicate columns
combined_df.drop(columns= ["country_y", "country", "alpha-2", "alpha-3"], inplace=True)

# rename country_x
combined_df.rename(columns={"country_x":"country"}, inplace=True)

# assign index
combined_df.set_index("country", inplace=True)

# sort by index
combined_df.sort_index(inplace=True)

# check
combined_df

,latitude,longitude,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.939110,67.709953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
Albania,41.153332,20.168331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.937621,1.625865,1.896174,1.275432,1.986661,2.028060,1.411091,1.620887,2.041472,6.725203
Algeria,28.033886,1.659626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.254239,2.916927,4.784447,6.397695,5.591116,4.269990,1.951768,2.415131,7.226063,9.265516
American Samoa,-14.270972,-170.132217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,42.546245,1.601554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (British),18.420695,-64.639968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),18.335765,-64.896335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,15.552727,48.516388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,-13.133897,27.849332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.733060,22.020768,10.993204
Zimbabwe,-19.015438,29.154857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,104.705171

In [19]:
combined_df.dtypes

latitude     float64
longitude    float64
1960         float64
1961         float64
1962         float64
              ...
2018         float64
2019         float64
2020         float64
2021         float64
2022         float64
Length: 65, dtype: object

In [20]:
# save as csv
combined_df.to_csv("combined_inflation_cleaned_data.csv")

# I Bonds Datasets

### cleaning data

In [21]:
# name csv path
ibonds_path = Path("US_Treasury_Series_I_Bond_Historical_Rates.csv")

# read csv
ibonds_df =pd.read_csv(ibonds_path)

ibonds_df.head()

,Date the rate was set,Fixed rate for bonds issued in the six months after that date,Inflation rate for all I bonds issued for six months (starting in that bond's next interest start month)
0,November 1 2022,0.4,3.24
1,May 1 2022,0.0,4.81
2,November 1 2021,0.0,3.56
3,May 1 2021,0.0,1.77
4,November 1 2020,0.0,0.84

In [22]:
# rename columns
ibonds_df.rename(columns={"Date the rate was set":"date", "Fixed rate for bonds issued in the six months after that date":"fixed rate", "Inflation rate for all I bonds issued for six months (starting in that bond's next interest start month)":"six-month inflation rate"}, inplace=True)

# drop nulls
ibonds_df.dropna(axis=0, inplace=True)

# correct error in start dates
ibonds_df["date"][41] = "May 1 2002"
ibonds_df["date"][42] = "November 1 2001"

# add missing data
# source: https://www.treasurydirect.gov/savings-bonds/i-bonds/i-bonds-interest-rates/
new_rows = {"date":["November 1 2023", "May 1 2023"],
    "fixed rate":["1.3", ".90"],
    "six-month inflation rate":["1.97", "1.69"]
}

# create new df
new_rows_df = pd.DataFrame(new_rows)

# concat dataframes
ibonds_combined_df = pd.concat([new_rows_df, ibonds_df])
ibonds_combined_df

# set date to datetime
ibonds_combined_df["date"] = pd.to_datetime(ibonds_combined_df["date"], format="%B %d %Y")

# reset index
ibonds_combined_df.reset_index(inplace=True)

# order ascending
ibonds_combined_df.sort_index(inplace=True, ascending=False)

# set date back as string
ibonds_combined_df["date"] = pd.to_datetime(ibonds_combined_df["date"]).dt.strftime("%m-%Y")

# set index
ibonds_combined_df.set_index("date", inplace=True)

# drop "index"
ibonds_combined_df.drop(columns=["index"], inplace=True)

# set dtypes to correct the manually entered data
ibonds_combined_df["fixed rate"] = ibonds_combined_df["fixed rate"].astype(float)
ibonds_combined_df["six-month inflation rate"] = ibonds_combined_df["six-month inflation rate"].astype(float)

# export cleaned df to csv for other uses
ibonds_combined_df.to_csv("ibonds_cleaned_data.csv")

ibonds_combined_df.head()

print(ibonds_combined_df)

         fixed rate  six-month inflation rate
date
09-1998         3.4                      0.62
11-1998         3.3                      0.86
05-1999         3.3                      0.86
11-1999         3.4                      1.76
05-2000         3.6                      1.91
11-2000         3.4                      1.52
05-2001         3.0                      1.44
11-2001         2.0                      1.19
05-2002         2.0                      0.28
11-2002         1.6                      1.23
05-2003         1.1                      1.77
11-2003         1.1                      0.54
05-2004         1.0                      1.19
11-2004         1.0                      1.33
05-2005         1.2                      1.79
11-2005         1.0                      2.85
05-2006         1.4                      0.50
11-2006         1.4                      1.55
05-2007         1.3                      1.21
11-2007         1.2                      1.53
05-2008         0.0                      2.42
11-2008         0.7                      2.46
05-2009         0.1                     -2.78
11-2009         0.3                      1.53
05-2010         0.2                      0.77
11-2010         0.0                      0.37
05-2011         0.0                      2.30
11-2011         0.0                      1.53
05-2012         0.0                      1.10
11-2012         0.0                      0.88
05-2013         0.0                      0.59
11-2013         0.2                      0.59
05-2014         0.1                      0.92
11-2014         0.0                      0.74
05-2015         0.0                     -0.80
11-2015         0.1                      0.77
05-2016         0.1                      0.08
11-2016         0.0                      1.38
05-2017         0.0                      0.98
11-2017         0.1                      1.24
05-2018         0.3                      1.11
11-2018         0.5                      1.16
05-2019         0.5                      0.70
11-2019         0.2                      1.01
05-2020         0.0                      0.53
11-2020         0.0                      0.84
05-2021         0.0                      1.77
11-2021         0.0                      3.56
05-2022         0.0                      4.81
11-2022         0.4                      3.24
05-2023         0.9                      1.69
11-2023         1.3                      1.97

# Consumer Price Index Dataset

In [23]:
#### all urban consumer data seasonally adjusted ####
# name csv path
cpi_cpiu_path = Path("cpiu_data.csv")

# read csv
cpi_cpiu_data = pd.read_csv(cpi_cpiu_path)

cpi_cpiu_data.head()

     Series ID  Year Period     Label  Value  1-Month % Change
0  CUSR0000SA0  1998    M01  1998 Jan  162.0               0.1
1  CUSR0000SA0  1998    M02  1998 Feb  162.0               0.0
2  CUSR0000SA0  1998    M03  1998 Mar  162.0               0.0
3  CUSR0000SA0  1998    M04  1998 Apr  162.2               0.1
4  CUSR0000SA0  1998    M05  1998 May  162.6               0.2

In [24]:
# drop unnecessary columns
cpi_cpiu_data.drop(columns=["Series ID"], inplace=True)

cpi_cpiu_data

     Year Period     Label    Value  1-Month % Change
0    1998    M01  1998 Jan  162.000               0.1
1    1998    M02  1998 Feb  162.000               0.0
2    1998    M03  1998 Mar  162.000               0.0
3    1998    M04  1998 Apr  162.200               0.1
4    1998    M05  1998 May  162.600               0.2
..    ...    ...       ...      ...               ...
306  2023    M07  2023 Jul  304.348               0.2
307  2023    M08  2023 Aug  306.269               0.6
308  2023    M09  2023 Sep  307.481               0.4
309  2023    M10  2023 Oct  307.619               0.0
310  2023    M11  2023 Nov  307.917               0.1

[311 rows x 5 columns]

In [25]:
# convert to datetime
cpi_cpiu_data["Label"] = pd.to_datetime(cpi_cpiu_data["Label"], format="%Y %b")

cpi_cpiu_data

     Year Period      Label    Value  1-Month % Change
0    1998    M01 1998-01-01  162.000               0.1
1    1998    M02 1998-02-01  162.000               0.0
2    1998    M03 1998-03-01  162.000               0.0
3    1998    M04 1998-04-01  162.200               0.1
4    1998    M05 1998-05-01  162.600               0.2
..    ...    ...        ...      ...               ...
306  2023    M07 2023-07-01  304.348               0.2
307  2023    M08 2023-08-01  306.269               0.6
308  2023    M09 2023-09-01  307.481               0.4
309  2023    M10 2023-10-01  307.619               0.0
310  2023    M11 2023-11-01  307.917               0.1

[311 rows x 5 columns]

In [26]:
# check data types
cpi_cpiu_data.dtypes

Year                         int64
Period                      object
Label               datetime64[ns]
Value                      float64
1-Month % Change           float64
dtype: object

In [27]:
# export as csv
cpi_cpiu_data.to_csv("cpi_cleaned_data.csv")