In [1]:
from pathlib import Path
import datetime as dt
import pandas as pd

In [2]:
# name csv path
ibonds_path = Path("US_Treasury_Series_I_Bond_Historical_Rates.csv")

# read csv
ibonds_df =pd.read_csv(ibonds_path)

ibonds_df.head()

,Date the rate was set,Fixed rate for bonds issued in the six months after that date,Inflation rate for all I bonds issued for six months (starting in that bond's next interest start month)
0,November 1 2022,0.4,3.24
1,May 1 2022,0.0,4.81
2,November 1 2021,0.0,3.56
3,May 1 2021,0.0,1.77
4,November 1 2020,0.0,0.84

In [3]:
# rename columns
ibonds_df.rename(columns={"Date the rate was set":"date", "Fixed rate for bonds issued in the six months after that date":"fixed rate", "Inflation rate for all I bonds issued for six months (starting in that bond's next interest start month)":"six-month inflation rate"}, inplace=True)

ibonds_df

,date,fixed rate,six-month inflation rate
0,November 1 2022,0.4,3.24
1,May 1 2022,0.0,4.81
2,November 1 2021,0.0,3.56
3,May 1 2021,0.0,1.77
4,November 1 2020,0.0,0.84
5,May 1 2020,0.0,0.53
6,November 1 2019,0.2,1.01
7,May 1 2019,0.5,0.70
8,November 1 2018,0.5,1.16
9,May 1 2018,0.3,1.11
10,November 1 2017,0.1,1.24
11,May 1 2017,0.0,0.98
12,November 1 2016,0.0,1.38
13,May 1 2016,0.1,0.08
14,November 1 2015,0.1,0.77
15,May 1 2015,0.0,-0.80
16,November 1 2014,0.0,0.74
17,May 1 2014,0.1,0.92
18,November 1 2013,0.2,0.59
19,May 1 2013,0.0,0.59
20,November 1 2012,0.0,0.88
21,May 1 2012,0.0,1.10
22,November 1 2011,0.0,1.53
23,May 1 2011,0.0,2.30
24,November 1 2010,0.0,0.37
25,May 1 2010,0.2,0.77
26,November 1 2009,0.3,1.53
27,May 1 2009,0.1,-2.78
28,November 1 2008,0.7,2.46
29,May 1 2008,0.0,2.42
30,November 1 2007,1.2,1.53
31,May 1 2007,1.3,1.21
32,November 1 2006,1.4,1.55
33,May 1 2006,1.4,0.50
34,November 1 2005,1.0,2.85
35,May 1 2005,1.2,1.79
36,November 1 2004,1.0,1.33
37,May 1 2004,1.0,1.19
38,November 1 2003,1.1,0.54
39,May 1 2003,1.1,1.77
40,November 1 2002,1.6,1.23
41,May 1 2002 2.0,2.0,0.28
42,November 1 2001 2.0,2.0,1.19
43,May 1 2001,3.0,1.44
44,November 1 2000,3.4,1.52
45,May 1 2000,3.6,1.91
46,November 1 1999,3.4,1.76
47,May 1 1999,3.3,0.86
48,November 1 1998,3.3,0.86
49,September 1 1998,3.4,0.62
50,NaN,NaN,NaN
51,NaN,NaN,NaN
52,NaN,NaN,NaN
53,Source: https://www.treasurydirect.gov/savings...,NaN,NaN
54,NaN,NaN,NaN
55,More Info: http://www.yourtreasurydirect.com/r...,NaN,NaN

In [4]:
ibonds_df.dropna(axis=0, inplace=True)
ibonds_df

                   date  fixed rate  six-month inflation rate
0       November 1 2022         0.4                      3.24
1            May 1 2022         0.0                      4.81
2       November 1 2021         0.0                      3.56
3            May 1 2021         0.0                      1.77
4       November 1 2020         0.0                      0.84
5            May 1 2020         0.0                      0.53
6       November 1 2019         0.2                      1.01
7            May 1 2019         0.5                      0.70
8       November 1 2018         0.5                      1.16
9            May 1 2018         0.3                      1.11
10      November 1 2017         0.1                      1.24
11           May 1 2017         0.0                      0.98
12      November 1 2016         0.0                      1.38
13           May 1 2016         0.1                      0.08
14      November 1 2015         0.1                      0.77
15           May 1 2015         0.0                     -0.80
16      November 1 2014         0.0                      0.74
17           May 1 2014         0.1                      0.92
18      November 1 2013         0.2                      0.59
19           May 1 2013         0.0                      0.59
20      November 1 2012         0.0                      0.88
21           May 1 2012         0.0                      1.10
22      November 1 2011         0.0                      1.53
23           May 1 2011         0.0                      2.30
24      November 1 2010         0.0                      0.37
25           May 1 2010         0.2                      0.77
26      November 1 2009         0.3                      1.53
27           May 1 2009         0.1                     -2.78
28      November 1 2008         0.7                      2.46
29           May 1 2008         0.0                      2.42
30      November 1 2007         1.2                      1.53
31           May 1 2007         1.3                      1.21
32      November 1 2006         1.4                      1.55
33           May 1 2006         1.4                      0.50
34      November 1 2005         1.0                      2.85
35           May 1 2005         1.2                      1.79
36      November 1 2004         1.0                      1.33
37           May 1 2004         1.0                      1.19
38      November 1 2003         1.1                      0.54
39           May 1 2003         1.1                      1.77
40      November 1 2002         1.6                      1.23
41       May 1 2002 2.0         2.0                      0.28
42  November 1 2001 2.0         2.0                      1.19
43           May 1 2001         3.0                      1.44
44      November 1 2000         3.4                      1.52
45           May 1 2000         3.6                      1.91
46      November 1 1999         3.4                      1.76
47           May 1 1999         3.3                      0.86
48      November 1 1998         3.3                      0.86
49     September 1 1998         3.4                      0.62

In [5]:
# correct error in start dates
ibonds_df["date"][41] = "May 1 2022"
ibonds_df["date"][42] = "November 1 2001"

ibonds_df

C:\Users\raynolds\AppData\Local\Temp\ipykernel_13416\654031306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ibonds_df["date"][41] = "May 1 2022"
C:\Users\raynolds\AppData\Local\Temp\ipykernel_13416\654031306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ibonds_df["date"][42] = "November 1 2001"

                date  fixed rate  six-month inflation rate
0    November 1 2022         0.4                      3.24
1         May 1 2022         0.0                      4.81
2    November 1 2021         0.0                      3.56
3         May 1 2021         0.0                      1.77
4    November 1 2020         0.0                      0.84
5         May 1 2020         0.0                      0.53
6    November 1 2019         0.2                      1.01
7         May 1 2019         0.5                      0.70
8    November 1 2018         0.5                      1.16
9         May 1 2018         0.3                      1.11
10   November 1 2017         0.1                      1.24
11        May 1 2017         0.0                      0.98
12   November 1 2016         0.0                      1.38
13        May 1 2016         0.1                      0.08
14   November 1 2015         0.1                      0.77
15        May 1 2015         0.0                     -0.80
16   November 1 2014         0.0                      0.74
17        May 1 2014         0.1                      0.92
18   November 1 2013         0.2                      0.59
19        May 1 2013         0.0                      0.59
20   November 1 2012         0.0                      0.88
21        May 1 2012         0.0                      1.10
22   November 1 2011         0.0                      1.53
23        May 1 2011         0.0                      2.30
24   November 1 2010         0.0                      0.37
25        May 1 2010         0.2                      0.77
26   November 1 2009         0.3                      1.53
27        May 1 2009         0.1                     -2.78
28   November 1 2008         0.7                      2.46
29        May 1 2008         0.0                      2.42
30   November 1 2007         1.2                      1.53
31        May 1 2007         1.3                      1.21
32   November 1 2006         1.4                      1.55
33        May 1 2006         1.4                      0.50
34   November 1 2005         1.0                      2.85
35        May 1 2005         1.2                      1.79
36   November 1 2004         1.0                      1.33
37        May 1 2004         1.0                      1.19
38   November 1 2003         1.1                      0.54
39        May 1 2003         1.1                      1.77
40   November 1 2002         1.6                      1.23
41        May 1 2022         2.0                      0.28
42   November 1 2001         2.0                      1.19
43        May 1 2001         3.0                      1.44
44   November 1 2000         3.4                      1.52
45        May 1 2000         3.6                      1.91
46   November 1 1999         3.4                      1.76
47        May 1 1999         3.3                      0.86
48   November 1 1998         3.3                      0.86
49  September 1 1998         3.4                      0.62

In [6]:
# add missing data
# source: https://www.treasurydirect.gov/savings-bonds/i-bonds/i-bonds-interest-rates/
new_rows = {"date":["May 1 2023", "November 1 2023"],
    "fixed rate":[".90", "1.3"],
    "six-month inflation rate":["1.69", "1.97"]
}

# create new df
new_rows_df = pd.DataFrame(new_rows)

new_rows_df

              date fixed rate six-month inflation rate
0       May 1 2023        .90                     1.69
1  November 1 2023        1.3                     1.97

In [7]:
# concat dataframes

ibonds_combined_df = pd.concat([new_rows_df, ibonds_df])
ibonds_combined_df

                date fixed rate six-month inflation rate
0         May 1 2023        .90                     1.69
1    November 1 2023        1.3                     1.97
0    November 1 2022        0.4                     3.24
1         May 1 2022        0.0                     4.81
2    November 1 2021        0.0                     3.56
3         May 1 2021        0.0                     1.77
4    November 1 2020        0.0                     0.84
5         May 1 2020        0.0                     0.53
6    November 1 2019        0.2                     1.01
7         May 1 2019        0.5                      0.7
8    November 1 2018        0.5                     1.16
9         May 1 2018        0.3                     1.11
10   November 1 2017        0.1                     1.24
11        May 1 2017        0.0                     0.98
12   November 1 2016        0.0                     1.38
13        May 1 2016        0.1                     0.08
14   November 1 2015        0.1                     0.77
15        May 1 2015        0.0                     -0.8
16   November 1 2014        0.0                     0.74
17        May 1 2014        0.1                     0.92
18   November 1 2013        0.2                     0.59
19        May 1 2013        0.0                     0.59
20   November 1 2012        0.0                     0.88
21        May 1 2012        0.0                      1.1
22   November 1 2011        0.0                     1.53
23        May 1 2011        0.0                      2.3
24   November 1 2010        0.0                     0.37
25        May 1 2010        0.2                     0.77
26   November 1 2009        0.3                     1.53
27        May 1 2009        0.1                    -2.78
28   November 1 2008        0.7                     2.46
29        May 1 2008        0.0                     2.42
30   November 1 2007        1.2                     1.53
31        May 1 2007        1.3                     1.21
32   November 1 2006        1.4                     1.55
33        May 1 2006        1.4                      0.5
34   November 1 2005        1.0                     2.85
35        May 1 2005        1.2                     1.79
36   November 1 2004        1.0                     1.33
37        May 1 2004        1.0                     1.19
38   November 1 2003        1.1                     0.54
39        May 1 2003        1.1                     1.77
40   November 1 2002        1.6                     1.23
41        May 1 2022        2.0                     0.28
42   November 1 2001        2.0                     1.19
43        May 1 2001        3.0                     1.44
44   November 1 2000        3.4                     1.52
45        May 1 2000        3.6                     1.91
46   November 1 1999        3.4                     1.76
47        May 1 1999        3.3                     0.86
48   November 1 1998        3.3                     0.86
49  September 1 1998        3.4                     0.62

In [8]:
# convert to datetime
ibonds_combined_df["date"] = pd.to_datetime(ibonds_combined_df["date"], format="%B %d %Y")
ibonds_combined_df

         date fixed rate six-month inflation rate
0  2023-05-01        .90                     1.69
1  2023-11-01        1.3                     1.97
0  2022-11-01        0.4                     3.24
1  2022-05-01        0.0                     4.81
2  2021-11-01        0.0                     3.56
3  2021-05-01        0.0                     1.77
4  2020-11-01        0.0                     0.84
5  2020-05-01        0.0                     0.53
6  2019-11-01        0.2                     1.01
7  2019-05-01        0.5                      0.7
8  2018-11-01        0.5                     1.16
9  2018-05-01        0.3                     1.11
10 2017-11-01        0.1                     1.24
11 2017-05-01        0.0                     0.98
12 2016-11-01        0.0                     1.38
13 2016-05-01        0.1                     0.08
14 2015-11-01        0.1                     0.77
15 2015-05-01        0.0                     -0.8
16 2014-11-01        0.0                     0.74
17 2014-05-01        0.1                     0.92
18 2013-11-01        0.2                     0.59
19 2013-05-01        0.0                     0.59
20 2012-11-01        0.0                     0.88
21 2012-05-01        0.0                      1.1
22 2011-11-01        0.0                     1.53
23 2011-05-01        0.0                      2.3
24 2010-11-01        0.0                     0.37
25 2010-05-01        0.2                     0.77
26 2009-11-01        0.3                     1.53
27 2009-05-01        0.1                    -2.78
28 2008-11-01        0.7                     2.46
29 2008-05-01        0.0                     2.42
30 2007-11-01        1.2                     1.53
31 2007-05-01        1.3                     1.21
32 2006-11-01        1.4                     1.55
33 2006-05-01        1.4                      0.5
34 2005-11-01        1.0                     2.85
35 2005-05-01        1.2                     1.79
36 2004-11-01        1.0                     1.33
37 2004-05-01        1.0                     1.19
38 2003-11-01        1.1                     0.54
39 2003-05-01        1.1                     1.77
40 2002-11-01        1.6                     1.23
41 2022-05-01        2.0                     0.28
42 2001-11-01        2.0                     1.19
43 2001-05-01        3.0                     1.44
44 2000-11-01        3.4                     1.52
45 2000-05-01        3.6                     1.91
46 1999-11-01        3.4                     1.76
47 1999-05-01        3.3                     0.86
48 1998-11-01        3.3                     0.86
49 1998-09-01        3.4                     0.62

In [9]:
# export cleaned df to csv
ibonds_combined_df.to_csv("ibonds_cleaned_data.csv")