In [1]:
from pathlib import Path
import datetime as dt
import pandas as pd

In [2]:
# name csv path
ibonds_path = Path("ibonds_data.csv")

# read csv
ibonds_df =pd.read_csv(ibonds_path)

ibonds_df.head()

,Redemption Period,Redemption Year,Redemption Month,Series Code,Issue Year,Issue Jan Amount,Issue Feb Amount,Issue Mar Amount,Issue Apr Amount,Issue May Amount,Issue Jun Amount,Issue Jul Amount,Issue Aug Amount,Issue Sep Amount,Issue Oct Amount,Issue Nov Amount,Issue Dec Amount,Source Line Number
0,2023-01,2023,1,E,1980,110.62,110.62,110.62,110.62,111.75,111.75,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2023-01,2023,1,E,1979,108.28,108.28,108.28,108.28,109.33,109.59,109.59,109.59,109.59,109.59,110.62,110.62,2
2,2023-01,2023,1,E,1978,128.45,128.45,108.54,108.54,106.67,106.94,106.97,106.97,106.97,106.97,107.98,108.27,3
3,2023-01,2023,1,E,1977,138.04,138.04,138.04,138.04,139.40,139.70,139.67,139.67,139.67,139.67,128.09,128.45,4
4,2023-01,2023,1,E,1976,134.76,134.76,134.76,134.76,136.04,136.34,136.32,136.32,136.32,136.32,137.65,138.04,5

In [3]:
# set indices
ibonds_df.set_index("Redemption Period", inplace=True)

ibonds_df.head()

,Redemption Year,Redemption Month,Series Code,Issue Year,Issue Jan Amount,Issue Feb Amount,Issue Mar Amount,Issue Apr Amount,Issue May Amount,Issue Jun Amount,Issue Jul Amount,Issue Aug Amount,Issue Sep Amount,Issue Oct Amount,Issue Nov Amount,Issue Dec Amount,Source Line Number
Redemption Period,,,,,,,,,,,,,,,,,
2023-01,2023,1,E,1980,110.62,110.62,110.62,110.62,111.75,111.75,NaN,NaN,NaN,NaN,NaN,NaN,1
2023-01,2023,1,E,1979,108.28,108.28,108.28,108.28,109.33,109.59,109.59,109.59,109.59,109.59,110.62,110.62,2
2023-01,2023,1,E,1978,128.45,128.45,108.54,108.54,106.67,106.94,106.97,106.97,106.97,106.97,107.98,108.27,3
2023-01,2023,1,E,1977,138.04,138.04,138.04,138.04,139.40,139.70,139.67,139.67,139.67,139.67,128.09,128.45,4
2023-01,2023,1,E,1976,134.76,134.76,134.76,134.76,136.04,136.34,136.32,136.32,136.32,136.32,137.65,138.04,5